.mat-cell,
.mat-header-cell {
  flex: 1;
  min-height: 48px;
  display: flex;
  align-items: center;
  background-color: deepskyblue;
  color: white;
  border-left: 1px solid white !important;
}
.mat-column-Name {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 10% !important;
  width: 10% !important;
  padding: 10px;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.spanToRight {
  position: relative;
  float: right;
}
